# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.spec

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.exe
*.log
*.txt
!requirements.txt
!README.txt
!.gitignore